  <div class="aboutus">
    <div class="container text-center" style="padding: 30px 120px;">
     <h2 class="text-center" style="color: #111;letter-spacing: 10px;">About Baggge</h2></br>
     <p style="font-size:20px;color: #777;">Baggge.com strives to bring to you a travel booking experience that is simple, reliable, professional
       and affordable. In the ever changing technologies and travel trends, it is difficult for a traveller to
       keep track of all the dynamism and its impact on one's travel programmes; we thus sieve off the unwanted
      and make your travel booking a pleasure by removing the clutters, and make you feel like a pro. We take
      care of all the jargon, the fine print, the between the lines messaging and let you enjoy an experience
      that you set out to achieve for all your travel needs.
    </p></br>
  </div>
</div>
  <div class="container" >
<hr style="border-width: 5px; border-color: orange;width:60%;">
  <div class="team" >
    <h2 class="text-center" style="color: #111;letter-spacing: 10px;">Meet Our Team</h2>
  <div class="row">
  <div class="col-sm-offset-1 col-sm-3">
    <div class="card">
      <img class="img-circle" src="/images/kanak.jpg" alt="Kanak Gupta" style="width:100%">
      <div class="container">
        <h2>Kanak Gupta</h2>
        <p class="title">Idea pirate &amp; Founder</p>
        <p>lorem ipsum ipsum lorem.</p>
        <p>kanak@baggge.com</p>

      </div>
    </div>
  </div>

  <div class="col-sm-offset-1 col-sm-3">
    <div class="card">
      <img class="img-circle" src="/images/himan.jpg" alt="Himanshu Gupta" style="width:100%">
      <div class="container">
        <h2>Himanshu Yadav</h2>
        <p class="title">Idea pirate &amp; Founder</p>
        <p>lorem ipsum ipsum lorem.</p>
        <p>himanshu@baggge.com</p>

      </div>
    </div>
  </div>
  <div class="col-sm-offset-1 col-sm-3">
    <div class="card">
      <img class="img-circle" src="/images/ankit.jpg" alt="Ankit Sharma" style="width:100%">
      <div class="container">
        <h2>Ankit Sharma</h2>
        <p class="title">Technical Lead</p>
        <p>lorem ipsum ipsum lorem.</p>
        <p>ankit@baggge.com</p>
      </div>
    </div>
  </div>
</div>
</div>
</div>
<hr style="border-width: 5px; border-color: orange;width:60%;">
