<div class="container">
  <div class="aboutus">
     <h1 class="text-center">About Baggge</h1>
     <p><blockquote>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
       et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
        aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
         dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
       officia deserunt mollit anim id est laborum.
     </blockquote>
     </p>
  </div>
<hr style="border-width: 5px; border-color: orange;width:60%;">
  <div class="team">
    <h1 class="text-center">Meet Our Team</h1>
  <div class="row">
  <div class="col-sm-offset-1 col-sm-3">
    <div class="card">
      <img class="img-circle" src="/images/avatar.png" alt="Kanak Gupta" style="width:100%">
      <div class="container">
        <h2>Kanak Gupta</h2>
        <p class="title">CEO &amp; Founder</p>
        <p>lorem ipsum ipsum lorem.</p>
        <p>kanak@baggge.com</p>

      </div>
    </div>
  </div>

  <div class="col-sm-offset-1 col-sm-3">
    <div class="card">
      <img class="img-circle" src="/images/avatar.png" alt="Himanshu Gupta" style="width:100%">
      <div class="container">
        <h2>Himanshu Gupta</h2>
        <p class="title">Idea pirate</p>
        <p>lorem ipsum ipsum lorem.</p>
        <p>himanshu@baggge.com</p>

      </div>
    </div>
  </div>
  <div class="col-sm-offset-1 col-sm-3">
    <div class="card">
      <img class="img-circle" src="/images/avatar.png" alt="Ankit Sharma" style="width:100%">
      <div class="container">
        <h2>Ankit Sharma</h2>
        <p class="title">Technical Lead</p>
        <p>lorem ipsum ipsum lorem.</p>
        <p>ankit@baggge.com</p>
      </div>
    </div>
  </div>
</div>
</div>
</div>
<hr style="border-width: 5px; border-color: orange;width:60%;">
