<div class="container">
  <div class="terms">
    <h1 class="text-center">Cancellation Policy</h1>
      <h4>Cancellation</h4>
      <p>Cancellation of tickets with more than 24 hours to the flight Cancellation of tickets can be done either
      by calling on the customer care number number (offline) or emailing us on info@baggge.com. User will not be
      able to use the online flight cancellation facility if:</p>
      <p>A. There is an infant accompanying an adult? For all such cancellations the user will have to use the
      offline cancellation facility. To cancel the tickets offline, call the customer care numbers 7 days a week.</p>
      <p>B. Cancellation of tickets within 24 hours of the flights The User will have to contact the nearest
      airline office (of the concerned airline) to get his/her reservation cancelled. Baggge.com is in no way
      responsible to ensure that the ticket shall be cancelled and the sole liability to confirm the same with
      the airline shall lie with the User.</p>
      <h4>Cancellation/Amendment charges</h4>
      <p>For all refundable class tickets, the airline cancellation fee is charged per sector per passenger. All
      charges for individual airlines shall be applicable as per individual end service providers T&C.
      Additionally; Baggge.com reserves the right to charge a service fee of INR 250 or more per passenger per
      segment as deemed necessary For all non refundable class tickets, there shall be no refund to the ticket
      fee charged. This is not applicable on any promotional fares offered by airlines as cancellations charges
      for those will depend on the promotional offer. Each airline has promotional fares also where this
      cancellation policy does not apply.</p>
     <p>The refund shall be processed within 7 Days from the date of the cancellation request being made.
     The refund will be credited back to the same account from where the payment was made. Where the User has
     cancelled his/her booking directly with the airlines, he/she will need to inform Baggge.com with valid
     documentation to initiate the refund process. It is advisable to contact Baggge.com within 48 hours of the
     cancellation request. Any later would require the User to send a scanned copy of your E-Ticket endorsed by the
     airlines to baggge.com .</p>
     <hr style="border-width: 5px; border-color: orange;width:60%;">
   </div>
</div>
