<div class="first">
  <div class="container-fluid">
   <div class="mid">
    <h5><b>Mobile Recharge & Bill Payments</b></h5>
    
   <!--menu starts here-->	
    <ul class="list-inline">
      <li><a href="#mobile" data-toggle="collapse"><img src="/images/menu1.jpg"></a></li>
       <div id="mobile" class="">
		  <form action="" method="">
		    <input type="radio" name="" value="prepaid"> prepaid 
  		    <input type="radio" name="" value="postpaid"> postpaid <br>
  		    <input type="number" name="" placeholder="Mobile Number">
  		    <input type="number" name="" placeholder="Operator">
            <input type="number" name="" placeholder="Amount">
            <button type="button" class="btn btn-primary">Browse Plans</button>
            <button type="submit" class="btn btn-primary">Proceed To Pay</button> 
		  </form>
       </div>
      <li><button type="button" data-toggle="collapse" data-target="#electricity"><img src="/images/menu2.jpg"></button></li>
        <div id="electricity" class="collapse">
		 Lorem ipsum dolor text....
        </div>
      <li><button type="button" data-toggle="collapse" data-target="#water"><img src="/images/menu3.jpg"></button></li>
        <div id="water" class="collapse">
          Lorem ipsum dolor text....
        </div>
      <li><button type="button" data-toggle="collapse" data-target="#dth"><img src="/images/menu4.jpg"></button></li>
      <div id="dth" class="collapse">
      Lorem ipsum dolor text....
      </div>
    </ul>
    <!--menu ends here-->

  </div>
</div>

