<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Baggge</title>
    <meta charset="utf-8">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!--  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="bootstrap.css.map">
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css.map">
    <script src="/js/bootstrap.min.js"></script>  -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style type="text/css">
    body { padding-top: 52px; 
    }
    	.navbar-default{
    		background-color: white;
        box-shadow: 5px 3px 10px 2px;
    	}
    </style>
  </head>
  <body>
    <!--header starts here -->
    <header>
  	  <nav class="navbar navbar-default navbar-fixed-top">
  		  <div class="container-fluid">
  			  <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span> 
            </button>
  				  <a class="navbar-brand" href="#"><img  class="img-responsive img-rounded" src="/images/logo.jpg" alt="beggge.com"></a>
  			  </div>
  			  <div class="collapse navbar-collapse" id="topNavbar">
            <ul class="nav navbar-nav navbar-right">
  			      <li><a href="#" data-toggle="modal" data-target="#loginModal">Login</a></li>
  			      <li><a href="#" data-toggle="modal" data-target="#signupModal">Signup</a></li> 	
  			    </ul>
          </div>
  	    </div>
  	  </nav>
    </header>    
    <!--header ends here -->
    <!--Login Modal -->
<div id="loginModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title text-center">Sign In to Baggge</h4>
      </div>
      <div class="modal-body">
        <!-- login form starts here -->
        <form action="/login" method="Post">
          <div class="form-group">
            <div class="col-lg-offset-2 col-lg-8">
              <input type="text" class="form-control"  name="number" placeholder=" Mobile Number">
            </div>
          </div>
          <div class="form-group">
            <div class="col-lg-offset-2 col-lg-8">
              <input type="password" class="form-control" name="pass" placeholder=" Password ">
            </div>
          </div>
          <div class="col-sm-offset-2 form-group">
              <button type="submit" class="btn btn-primary col-sm-3">Log in</button>
          </div>
        </form>
        <!-- login form ends here -->
      </div>
      <div class="modal-footer" style="background: linear-gradient(to left, #66cccc,#99cccc, #99ffcc);">
        
      </div>
    </div>

  </div>
</div>

<!-- SignUp Modal -->
<div id="signupModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Header</h4>
      </div>
      <div class="modal-body">
      <!-- Signup form starts here -->
        <form action="/signUp" method="Post">
          <div class="form-group">
            <input type="text" class="form-control"  name="number" placeholder=" Mobile Number or Email Id">
          </div>
          <div class="form-group">
            <input type="password" class="form-control" name="pass" placeholder=" Password ">
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary">Sign Up</button>
          </div>
        </form>
        <!-- signup form ends here -->
      
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
   
    {{{body}}}
    
    <!--footer starts here -->
    <footer>
  	  <div class="last">
        <div class="container">
          <div class="row">
            <div class="col-sm-3">
              <ul style="list-style: none;">
                <li><a href="" class="btn" style="color: black;">About Us</a></li>
                <li><a href="" class="btn" style="color: black;">FAQs</a></li>
                <li><a href="" class="btn" style="color: black;">Terms and conditions</a></li>
              </ul>
              
            </div>
            <div class="col-sm-3">
              <ul style="list-style: none;">
                <li><a href="" class="btn" style="color: black;">Privacy</a></li>
                <li><a href="" class="btn" style="color: black;">Contact Us</a></li>
                <li><a href="" class="btn" style="color: black;">Career</a></li>
              </ul>              
            </div>
            <div class="col-sm-3">
              <h4><b>Download Our App</b></h4>
              <ul class="list-inline">
      <li><img src="/images/googleplay.png" class="img-rounded img-responsive" style="height: 40px;width: 100px"></li>
      <li><img src="/images/applestore.png" class="img-rounded img-responsive" style="height: 40px;width: 100px"></li>
      </ul>
            </div>
            <div class="col-sm-3">
               <h4><b>Follow Us</b></h4>
               <ul class="list-inline">
                 <li><a href=""><img src="/images/facebook.jpg" style="height: 20px;width: 20px;"></a></li>
                 <li><a href=""><img src="/images/twitter.jpg" style="height: 20px;width: 20px;"></a></li>
                 <li><a href=""><img src="/images/googleplus.jpg" style="height: 20px;width: 20px;"></a></li>
                 <li><a href=""><img src="/images/linkedin.jpg" style="height: 20px;width: 20px;"></a></li>
               </ul> 
            </div>  
          </div>
        </div>      
      </div>

      <div class="copyright">
        <div class="container-fluid">
          <p class="text-center">All rights reserved @ Baggge 2018</p>
        </div>
      </div>
    </footer>
    <!--footer starts here -->
  <script type="text/javascript" src="/js/validations.js"></script>
  </body>
</html>