<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Baggge</title>
    <meta charset="UTF-8">
    <meta name="description" content="Baggge.com is a plateform for various types of recharge and booking in real time">
    <meta name="keywords" content="baggge, mobile recharge, dth recharge, hotel booking, bus booking, Electricity recharge, water bill recharge">
    <meta name="author" content="Himanshu Yadav">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <script src="/javascripts/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/fontawesome.min.css">
    <link rel="stylesheet" href="/stylesheets/owl.carousel.css">
    <link rel="stylesheet" href="/stylesheets/style1.css">


    <style type="text/css">
    body { padding-top: 52px;
    }
    	.navbar-default{
    		background-color: white;
    	}
      .collapse.in{
        background-color: white;
      }
    </style>
    <!--test-->
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-113929998-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-113929998-1');
</script>

<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PC7ZXGK"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-PC7ZXGK');</script>
<!-- End Google Tag Manager -->
  </head>
  <body style="padding-top:0;font-family:'Roboto',sans-serif">
    <!--header starts here -->
    <header>
  	  <nav class="navbar navbar-default navbar-fixed-top" style="height:95px; position:relative;margin-bottom:0;">
  		  <div class="container-fluid" style="height:100%">
  			  <div class="navbar-header" style="height:100%">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
  				  <a class="navbar-brand" href="https://www.baggge.com/"><img  class="img-responsive img-rounded" src="/images/bagggelogo.png" alt="baggge.com" title="baggge.com"></a>
  			  </div>
          {{#if session}}
    			  <div class="collapse navbar-collapse" id="topNavbar">
              <ul class="nav navbar-nav navbar-right" style="margin-top: 18px;font-size:20px;font-family:'Roboto',sans-serif">
    			      <li><a href="#loginModal" data-toggle="modal" style="color:#175588">Login</a></li>
    			      <li><a href="#signupModal" data-toggle="modal" style="color:#175588">Signup</a></li>
    			    </ul>
            </div>
            {{else}}
            <div class="collapse navbar-collapse" id="topNavbar">
              <ul class="nav navbar-nav navbar-right" style="margin-top: 18px;font-size: 20px;">
    			      <li><a href="/logout" data-toggle="modal" >Logout</a></li>
    			    </ul>
            </div>
          {{/if}}
  	    </div>
  	  </nav>
    </header>
    <!--header ends here -->
    <!--Login Modal -->
<div id="loginModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-sm">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h2 class="modal-title text-center">Sign In to Baggge</h2>
      </div>
      <div class="modal-body">
        <!-- login form starts here -->
        <form action="/login" method="Post" name="loginForm" onsubmit="return loginFormVal()">
          <div class="form-group">
              <label for="userName"><span class="glyphicon glyphicon-user"></span> Username</label>
              <input type="text" class="form-control" name="userName" placeholder="Enter email or number" >
            </div>
            <div class="loginFormError" id="userNameError"></div>
            <div class="form-group">
              <label for="passWord"><span class="glyphicon glyphicon-eye-open"></span> Password</label>
              <input type="password" class="form-control" name="passWord" placeholder="Enter password" >
            </div>
            <div class="loginFormError" id="passWordError"></div>
            <div class="checkbox">
              <label><input type="checkbox" value="" checked>Remember me</label>
            </div>
            <button type="submit" class="btn btn-default btn-success btn-block"><span class="glyphicon glyphicon-off"></span> Login</button>

        </form>
        <!-- login form ends here -->
      </div>
      <div class="modal-footer" align="center" style="background: linear-gradient(to left, #66cccc,#99cccc, #99ffcc);">

      </div>
    </div>

  </div>
</div>

<!-- SignUp Modal -->
<div id="signupModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h2 class="modal-title text-center">Sign Up</h2>
      </div>
      <div class="modal-body">
      <!-- Signup form starts here -->
        <form action="/signUp" method="Post" name="signUpForm" onsubmit="return signUpFormVal()">
          <div class="form-group">
            <label for="userName"><span class="glyphicon glyphicon-user"></span> Your Name </label>
            <input type="text" class="form-control" name="userName" id="userName" placeholder="Enter your Name" >
          </div>
          <div class="signUpFormError" id="userNameErr"></div>
          <div class="form-group">
            <label for="emailId"><span class="glyphicon glyphicon-envelope"></span> Email Id</label>
            <input type="email" class="form-control" name="emailId" id="emailId" placeholder="Enter email" >
          </div>
          <div class="signUpFormError" id="emailIdErr"></div>
          <div class="form-group">
            <label for="mobileNumber"><span class="glyphicon glyphicon-phone"></span> Mobile Number</label>
            <input type="number" class="form-control" name="mobileNumber" id="mobileNumber" placeholder="Enter you Number" >
          </div>
          <div class="signUpFormError" id="mobileNumberErr"></div>
          <div class="form-group">
            <label for="passWord"><span class="glyphicon glyphicon-eye-open"></span> Password</label>
            <input type="password" class="form-control" name="passWord" id="passWord" placeholder="Enter password" >
          </div>
          <div class="signUpFormError" id="passWordErr"></div>
          <div id="message" style="display: none;">
         <h5>Password must contain the following:</h5>
         <p id="letter" class="invalid">A <b>lowercase</b> letter</p>
         <p id="capital" class="invalid">A <b>capital (uppercase)</b> letter</p>
         <p id="number" class="invalid">A <b>number</b></p>
         <p id="splChars" class="invalid">A <b>Special Character</b></p>
         <p id="length" class="invalid">Minimum <b>6 characters</b></p>
        </div>

            <button type="submit" class="btn btn-default btn-block">
            <span class="glyphicon glyphicon-off"></span> Signup</button>
        </form>
        <!-- signup form ends here -->

      </div>
      <div class="modal-footer" align="center" style="background: linear-gradient(to left, #66cccc,#99cccc, #99ffcc);">

      </div>
    </div>

  </div>
</div>

    {{{body}}}

   <!--TESTIMONIALS START-->
<div id="section-id-1494997070" class="sppb-section  testimonials_area"  >
  <div class="sppb-container-inner">
    <div class="sppb-row">
      <div class="sppb-col-sm-12">
        <div id="column-id-1494997071" class="sppb-addon-container" >
          <div id="sppb-addon-1494997072" class="clearfix" >
            <div class="sppb-addon sppb-addon-raw-html ">
              <div class="sppb-addon-content">
                <div class="container coustome-container">
                  <div class="row m0 testimonials-head">
                    <h3>Client’s testimonials</h3>
                    <div class="testimonials-carousel">
                                            <div class="item">
                        <div class="client">
                          <p>“They made our hunting for house easy by actually making us aware of what we want and what the correct market situation is. Hope will have a great business again soon."</p>
                          <a href="#">Chiranjeev Lama </a> </div>
                        
                        <!--<div class="client-img">
<img src="http://www.bullmenrealty.com/assets1/images/clients/client.jpg" alt="" class="img-circle">
</div>--> 
                        
                      </div>
                                            <div class="item">
                        <div class="client">
                          <p>"Amazing opportunity provided by the company to visit the Supernova site. Great view from 18th floor."</p>
                          <a href="#">Sabyasachi Patra </a> </div>
                        
                        <!--<div class="client-img">
<img src="http://www.bullmenrealty.com/assets1/images/clients/client.jpg" alt="" class="img-circle">
</div>--> 
                        
                      </div>
                                            <div class="item">
                        <div class="client">
                          <p>"I  am interested in investing more in Supernova project, the company support is incredible."</p>
                          <a href="#">Mr. Manish </a> </div>
                        
                        <!--<div class="client-img">
<img src="http://www.bullmenrealty.com/assets1/images/clients/client.jpg" alt="" class="img-circle">
</div>--> 
                        
                      </div>
                                          </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--TESTIMONIALS END-->

<!--FOOTER START--> 
<section class="footer">
<div class="container">
<div class="row">

<!-- Column-1 -->
<div class="col-md-3">
<img class="sp-default-logo" src="assets1/images/logo.png" alt="Joomla Template by JoomLead">
<p> Baggge.com strives to bring to you a travel booking experience that is simple, reliable, professional and affordable. In the ever changing technologies and travel trends, it is difficult for a traveller to keep track of all the dynamism and its impact on one's travel programmes</p>

    Connect with us:

<a href="#" target="_blank"><font color="white"><span class="fa fa-facebook"></span></font></a>
<a href="#" target="_blank"><font color="white"><span class="fa fa-twitter"></span></font></a>
<a href="#" target="_blank"><font color="white"><span class="fa fa-linkedin"></span></font></a>
<a href="#" target="_blank"><font color="white"><span class="fa fa-youtube"></span></font></a>
<a href="#" target="_blank"><font color="white"><span class="fa fa-instagram"></span></font></a>


</div>
<!-- Column-1 -->

<!-- Column-2 -->
<div class="col-md-3">
<ul>
<h4>Useful Links</h4>
<li>FAQ's</li>
<li>Privacy Policy</li>
<li>Terms of Use</li>
<li>Disclaimer</li>
<li>Sitemap</li>
<li><a href="contact.html" target="_blank"><font color="white">Contact Us</font></a></li>
</ul>
</div>
<!-- Column-2 -->

<!-- Column-3 -->
<div class="col-md-3">
<h4>Newsletter Sign Up</h4>
<p> Bullmen Realty is already on a path to be a global company, still we perpetrate the best to maintain as start-up!</p>
<input type="text" class="form-control enter-email" placeholder="enter your email address">
<a href="#" class="subscribe">SUBSCRIBE</a>
</div>
<!-- Column-3 -->

<!-- Column-4 -->
<div class="col-md-3">
<ul>
<h4>Contact Us</h4>
<li><i class="fa fa-map-marker"></i> Plot No.9, 2nd Floor, BITS Tower Noida , India</li>
<li><i class="fa fa-mobile-phone"></i> +91-7701806867</li>
<li><i class="fa fa-envelope"></i><a href="malto:info@baggge.com"><font color="white">&nbsp;info@baggge.com</font></a></li>
<li><a href="index.html"><font color="white"><i class="fa fa-globe"></i>&nbsp;baggge.com</font></a></li>

</ul>
</div>
<!-- Column-4 -->


</div>
</div>
<hr>
<p align="center">All rights reserved @ Som Tech Media 2018</p>
</section>
<!--FOOTER END--> 


  <script type="text/javascript" src="/javascripts/processEvent.js"></script>
  <script type="text/javascript" src="/javascripts/validations.js"></script>
  </body>
</html>
