<div class="container">
  <div class="terms">
    <h1 class="text-center">Refund Policy</h1>
    <h4>  Refund Policy </h4>
<p>If service not provided within 7 working days, Payment will be refund on your Account,</p>

<p>which contract specifically with the issuer (CIT is the issuer in this case) to accept the payment
   instrument. These instruments do not permit cash withdrawal or redemption by the customer.</p>


<p>Change of bus: In case the bus operator changes the type of bus due to some reason, Baggge will refund
 the differential amount to the customer upon being intimated by the customers in 24 hours of the journey.</p>
Cancellation Policy: Read the ticket cancellation policy carefully. Tickets will be cancelled as per the
cancellation policy mentioned with the ticket . The transaction charges will not be refunded in the event of
ticket cancellation Refund policy mentioned on the ticket is indicative. The actual cancellation charges
are determined by bus operators and bus providers at the actual time of cancellation.
Baggge has no role in governing the cancellation charges.
<p>Recharge Solution Any time Any Where.</p>

<h4>WHY WE ARE GOOD</h4>
<p>Best service provider with live support</p>


<p>Complete Recharge solution in one application, individual Recharge business and commercial</p>
<p>All type of recharge like Airtel, Idea, vodafone, Aircel, Reliance, TATA, Videocon, BSNL, MTNL,
  MTS, Uninor, Spice, Electricity baill payment of all states
  </p>
  <hr style="border-width: 5px; border-color: orange;width:60%;">
  </div>
</div>
