<div class="container">
  <div class="terms">
    <h1 class="text-center">Refund Policy</h1>
    <h4>Cancellation Policy</h4>
    <p>An easy cancellation process is available for all our esteemed customers. You can cancel your online
      booking before the travel date. The cancellation charges will apply for the bookings depends on the Supplier
      Fare Rules for the items booked.</p>
    <p>info@baggge.com</p>
    <h4>  Refund Policy </h4>
    <p>Your refund will be initiated by us within 7 business days of receiving the refund request and
      authorization of the refund. Your refund is estimated to be credited in the account, used for order payment,
      between 7 to 10 days after initiating the refund. Please note that the timing of the actual account credit
      is dependent on multiple external agencies such as banks, payment gateways and external couriers
      (for cheques).</p>
   <h4>Mode of Refund</h4>
   <p>For both cancelled orders & returned products (due to incomplete sets, incorrect style, wrong sizes,
     or defective products delivered), the refund amount will be credited back into the same account
     (online banking, credit card, debit card) that was used to make the purchase.</p></br></br>

  <hr style="border-width: 5px; border-color: orange;width:60%;">
  </div>
</div>
