<div class="container">
  <div class="terms" style="font-family: "Times New Roman", Times, serif;">
    <h1 class="text-center">Terms and conditions</h1>
    <p style="font-family: "Times New Roman", Times, serif;">
    <h4>In using this website you are deemed to have read and agreed to the following terms and conditions:</h4>
The following terminology applies to these Terms and Conditions, Privacy Statement and Disclaimer Notice and
any or all Agreements:"Client", "You" and "Your" refers to you, the person accessing this website and accepting
the Company's terms and conditions. "The Company", "Ourselves", "We" and "Us", refers to www.baggge.com "Party",
refers to both the Client and ourselves, or either the Client or ourselves. All terms refer to the offer,
acceptance and consideration of payment necessary to undertake the process of our assistance to the Client in
the most appropriate manner. Any use of the above terminology or other words in the singular, plural and/or
he/she or they, are taken as interchangeable and therefore as referring to same. By becoming a registered
user of www.baggge.com and our affiliate sites, you agree to be contacted by www.baggge.com and our
affiliates via communication modes including but not limited to email, SMS, MMS, and telephonic calls.

<h4>Payment</h4>
We accept Visa and Master Credit Card, Debit Cards and Net banking as mode of payments which are processed
through our payment gateway partner. No information pertaining to payment is shared with us as you fill all
the payment related information on your bank's site.

<h4>Recharge/Bill Payment</h4>
Baggge Inc has tied up with a third party enabler for the recharge and Bill Payments.
www.baggge.com is not responsible for any delay, pricing or cancellation of recharge from mobile operators end.
Though, best efforts are made to keep the service above acceptance levels.
User is solely responsible for the selection of mobile operator and the recharge/bill payment amount.
www.baggge.com is not responsible for talk-time given against recharge done through www.baggge.com as this
is purely at mobile operator's disposal.

<h4>Eligibility</h4>
The services are not available to persons under the age of 18 or to anyone previously suspended or
removed from the services by Baggge Inc. By accepting these Terms & Conditions or by otherwise using
the Services or the Site, You represent that You are at least 18 years of age and have not been
previously suspended or removed from the Services. You represent and warrant that You have the right,
authority, and capacity to enter into this Agreement and to abide by all of the terms and conditions of
this Agreement. You shall not impersonate any person or entity, or falsely state or otherwise misrepresent
identity, age or affiliation with any person or entity.
</br></br>
<h4 class="text-center">Thank you for recharging with us.</h4>
</p>
<hr style="border-width: 5px; border-color: orange;width:60%;">
</div>
</div>
