<div class="container">
  <div class="terms" style="font-family: "Times New Roman", Times, serif;">
    <h1 class="text-center">Terms and conditions</h1>
    <p style="font-family: "Times New Roman", Times, serif;">
    <h4>In using this website you are deemed to have read and agreed to the following terms and conditions:</h4>
    <p>We reserve the right at any time to modify this Agreement without prior notice to you. Please refer to our
      website at www.baggge.com from time to time to review the most recent version of the Agreement. Your
      continued access or use of our website or services signifies your acceptance of the modifications to the
      Agreement. You may not assign your rights or obligations under this Agreement to any third party. We may
      terminate this Agreement at any time for any reason, and such termination shall not affect any right to
      relief to which we are entitled at law or in equity.</p>
    <p>Any ratings for suppliers are intended only as general guidelines, and we do not guarantee the accuracy of
      the ratings. We make no guarantees about the availability of specific products and services. We make no
      representations about the suitability of the information, software, products, and services provided by us
      or contained on our website for any purpose. The inclusion or offering of any products or services by us
      does not constitute our endorsement or recommendation of such product or service. All such information,
      software, products, and services are provided "as is" without warranty of any kind. We disclaim all
      warranties that our website, its servers or any email sent from us or our suppliers are free of viruses or
      other harmful components. We hereby disclaim all warranties and conditions with regard to this information,
      software, products, and services, including all implied warranties and conditions of merchantability,
      fitness for a particular purpose, title, and non infringement. Warranty disclaimers may vary from state to
      state.</p>
      <p>The carriers, hotels and other suppliers providing travel or other services on this website are independent
      contractors and not agents or employees of the us. We are not liable for the acts, errors, omissions,
      representations, warranties, breaches or negligence of any such suppliers or for any personal injuries, death, property damage, or other damages or expenses resulting therefrom. We have no liability and
      will make no refund in the event of any delay, cancellation, overbooking, strike, force majeure or other
      causes beyond our control, and we have no responsibility for any additional expense, omissions, delays,
      re-routing or acts of any government or authority.</p>
      <p>In no event shall we be liable for any direct, indirect, punitive, incidental, special, or consequential
      damages arising out of, or in any way connected with, your access to, display of or use of this website or
      our services or with the delay or inability to access, display or use our website whether based on a theory
      of negligence, contract, tort, strict liability, or otherwise, and even if we have been advised of the
      possibility of such damages.</p>
      <p>If, despite the limitation above, we are found liable for any loss or damage which arises out of or in
      any way connected with any of the occurrences described above, then our liability will in no event exceed,
      in the aggregate.</p>
      <p>You will only use our website or services to make legitimate reservations or purchases and shall not
      make speculative, false or fraudulent reservations or reservations in anticipation of demand. You will
      only use our website and services in compliance with applicable law.</p>
      <p>Without our prior written permission, you may not access, monitor or copy any content or information on
      our website using any robot, spider or other automated or manual device or program, You may not deep link
      to any portion of our website, or  frame or incorporate any portion of our website into any other website.</p>
      </br></br>
      <h4 class="text-center">Thank you for recharging with us.</h4>
    <hr style="border-width: 5px; border-color: orange;width:60%;">
  </div>
</div>
