<div class="vendorReg">
  <div class="container-fluid">
  <div class="mid">
    <h2 class="text-center" style="color: white;">Vendor Login</h2>
    {{#if success }}
    <div class="alert alert-success alert-dismissable fade in text-center">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <strong>{{success}}</strong>
    </div>
    {{/if}}
  <form id="vendorRegForm" action="/vendor/login" method="post">
    <div class="form-group">
        <label for="userName"><span class="glyphicon glyphicon-user"></span> Username</label>
        <input type="text" class="form-control" name="userName" placeholder="Enter email or number" >
      </div>
      <div class="loginFormError" id="userNameError"></div>
      <div class="form-group">
        <label for="passWord"><span class="glyphicon glyphicon-eye-open"></span> Password</label>
        <input type="password" class="form-control" name="passWord" placeholder="Enter password" >
      </div>
      <div class="loginFormError" id="passWordError"></div>
      <div class="checkbox">
        <label><input type="checkbox" value="" checked>Remember me</label>
      </div>
      <button type="submit" class="btn btn-default btn-success btn-block"><span class="glyphicon glyphicon-off"></span> Login</button>
  </form>
</div>
  </div>
</div>
