body {
  padding: ;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.first{
  height:300px;
  width: 100%;
  background-color: #99cccc;
  padding: 10px 10px 10px 10px;  	
}

.mid{
  height:100%;
  width: 90%;
  margin: 0 auto;
  padding: 10px 10px 10px 10px;  	
}
.second{
  height:100%;
  width: 100%;
  padding: 10px 10px 10px 10px;
  color: black;  	
}

.trending{
  height:100%;
  width: 100%;
  margin:;
  background-color:;    
}

.last{
  width:100% ;
  background-color: #eef2f5;
  padding: 10px 10px 10px 10px;  
}

.copyright{
  width:100% ;
  background-color: #d8dcdf;
}
.blue_div{
  background-color: #4c50cd;
  padding: 10px 10px 10px 10px;
}

.white_div{
  background-color: #ffffff;
  padding: 10px 10px 10px 10px;
}
