body {
  padding: ;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.first{
  height:200px;
  width: 100%;
  background-color: #99cccc;
  color: ;  	
}

.mid{
  height:100%;
  width: 90%;
  margin: 0 auto;
  background-color:;  	
}
.second{
  height:100%;
  width: 100%;
  background-color:;
  color: black;  	
}